<!DOCTYPE html>
    <html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ausgänge</title>
    </head>
    <body>
        <h1>Ausgänge</h1>
        <!-- Button to navigate back to index page -->
        <form action="/">
            <button type="submit">Hauptseite</button>
        </form>
        <form action="/eingaenge">
            <button type="submit">Eingänge</button>
        </form>
    </body>
    </html>